
@-webkit-keyframes cycle
{
0.0% 
{
  -webkit-transform : translate(0px,0px);
  -moz-transform    : translate(0px,0px);
  -ms-transform     : translate(0px,0px);
  -o-transform      : translate(0px,0px);
  transform         : translate(0px,0px);
}

100.0% 
{
  -webkit-transform : translate(0px,-132px);
  -moz-transform    : translate(0px,-132px);
  -ms-transform     : translate(0px,-132px);
  -o-transform      : translate(0px,-132px);
  transform         : translate(0px,-132px);
}

}

@-moz-keyframes cycle
{
0.0% 
{
  -webkit-transform : translate(0px,0px);
  -moz-transform    : translate(0px,0px);
  -ms-transform     : translate(0px,0px);
  -o-transform      : translate(0px,0px);
  transform         : translate(0px,0px);
}

100.0% 
{
  -webkit-transform : translate(0px,-132px);
  -moz-transform    : translate(0px,-132px);
  -ms-transform     : translate(0px,-132px);
  -o-transform      : translate(0px,-132px);
  transform         : translate(0px,-132px);
}

}

@-ms-keyframes cycle
{
0.0% 
{
  -webkit-transform : translate(0px,0px);
  -moz-transform    : translate(0px,0px);
  -ms-transform     : translate(0px,0px);
  -o-transform      : translate(0px,0px);
  transform         : translate(0px,0px);
}

100.0% 
{
  -webkit-transform : translate(0px,-132px);
  -moz-transform    : translate(0px,-132px);
  -ms-transform     : translate(0px,-132px);
  -o-transform      : translate(0px,-132px);
  transform         : translate(0px,-132px);
}

}

@-o-keyframes cycle
{
0.0% 
{
  -webkit-transform : translate(0px,0px);
  -moz-transform    : translate(0px,0px);
  -ms-transform     : translate(0px,0px);
  -o-transform      : translate(0px,0px);
  transform         : translate(0px,0px);
}

100.0% 
{
  -webkit-transform : translate(0px,-132px);
  -moz-transform    : translate(0px,-132px);
  -ms-transform     : translate(0px,-132px);
  -o-transform      : translate(0px,-132px);
  transform         : translate(0px,-132px);
}

}

@keyframes cycle
{
0.0% 
{
  -webkit-transform : translate(0px,0px);
  -moz-transform    : translate(0px,0px);
  -ms-transform     : translate(0px,0px);
  -o-transform      : translate(0px,0px);
  transform         : translate(0px,0px);
}

100.0% 
{
  -webkit-transform : translate(0px,-132px);
  -moz-transform    : translate(0px,-132px);
  -ms-transform     : translate(0px,-132px);
  -o-transform      : translate(0px,-132px);
  transform         : translate(0px,-132px);
}

}

.slide:not(#a-slight-hack) pre
{
  text-align : center;
}

.slide pre
{
  font-size : 1.19999em;
  width     : 100%;
}

.reveal .slide pre code
{
  padding : 0px 0px 0px 0px;
}

.big-img
{
  height : 10em;
}

.slide h2,
.slide h1
{
  color          : rgb(0,0,0);
  padding-bottom : 15px;
}

.slide h1 + pre
{
  margin-top : 100px;
}

.code pre
{
  font-size : 3.5em;
}

#specializing-for-c pre
{
  font-size : 1.39999em;
}

*
{
  background-color : rgb(207,207,207);
}

#developers
{
  list-style-type : none;
  font-size       : 3em;
  overflow        : hidden;
  border          : solid 1px rgb(0,0,0);
  text-align      : center;
  height          : 360px;
  line-height     : 60px;
  margin          : 0px 0px 0px 0px;
}

#developers li
{
  -webkit-animation : cycle 7.0s linear 0.0s infinite normal none;
  -moz-animation    : cycle 7.0s linear 0.0s infinite normal none;
  -ms-animation     : cycle 7.0s linear 0.0s infinite normal none;
  -o-animation      : cycle 7.0s linear 0.0s infinite normal none;
  animation         : cycle 7.0s linear 0.0s infinite normal none;
  padding           : 30px 30px 30px 30px;
}


/* Generated with Clay, http://fvisser.nl/clay */