!!!
%html
  %head
    %title Intern Presentation
    %meta{:name => "description", :content => "DXR Intern Presentation"}
    %meta{:name => "author", :content => "Marcell Jose Vazquez-Chanlatte"}
    %link{:rel => "stylesheet", :href => "css/reveal.min.css"}
    %link{:rel => "stylesheet", :href => "css/theme/default.css", :id => "theme"}
    %link{:rel => "stylesheet", :href => "lib/css/zenburn.css"}
    :javascript
      if( window.location.search.match( /print-pdf/gi ) ) {
          var link = document.createElement( 'link' );
          link.rel = 'stylesheet';
          link.type = 'text/css';
          link.href = 'css/print/pdf.css';
          document.getElementsByTagName( 'head' )[0].appendChild( link );
      }
  %body
    .reveal
      .slides
        %section
          %h1 DxR
          %h3 Lets talk about Javascript
          %p{:id => "subtitle"}
            :markdown
              Created by [Marcell Jose Vazquez-Chanlatte](http://mvcisback.github.io)/[@mvcisback](http://twitter.com/mvcisback)

        %section
          %h1 Fin
              
          
    %script{:src => "lib/js/head.min.js"}
    %script{:src => "js/reveal.min.js"}
    :javascript
      Reveal.initialize({
      controls: true, progress: true, history: true, center: true,
      theme: "sky", // available themes are in /css/theme
      transition: "linear",
      dependencies: [
        { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
        { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      ]
      });
